<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ais_abiturient_android">


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIS_Abiturient_Android">


        <!-- Экран авторизации -->
        <activity android:name=".LoginActivity" />

        <!-- Экран администратора -->
        <activity android:name=".AdminActivity" />

        <!-- Экран оператора -->
        <activity android:name=".OperatorActivity" />

        <!-- Экран добавления/редактирования заявки -->
        <activity android:name=".ApplicantActivity" />


        <!-- Главный экран с флагом exported -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

    </application>

</manifest>
